
.header {
    background-color: #141a2e;
    box-shadow: 0 0 5px #09f;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.img-header {
    width: 80px;
    margin-left: 10px;
}

.h1-header {
    color: white;
}

.btn-header {
    color: white;
    font-size: 20px;
    position: relative;
    left: 47%;
    margin: 8px;
    text-decoration: none;
}

.btn-header:hover {
    text-decoration: underline;
}




/* -------------------- */



.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.seccion-saludo {
    /*background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
    background-color: #141a2e;
    color: white;
    padding: 1px;
    border-radius: 12px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 0 5px #09f;
}

.seccion-saludo h2 {
    font-size: 50px;
}

.seccion-partidos, .seccion-puntos, .seccion-mercado {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.seccion-partidos h3, .seccion-puntos h3, .seccion-mercado h3 {
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    color: #333;
    font-size: 50px;
}

.partido {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 12px;
    margin-bottom: 15px;
    gap: 15px;
}

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.escudo {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.nombre-equipo {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.vs {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    gap: 2px;
}

.jornada {
    font-size: 25px;
    color: #666;
    font-weight: 500;
    font-weight: bold;
    background: #f0f0f0;
    padding: 2px 6px;
    border-radius: 10px;
}

.vs span:last-child {
    font-size: 50px;
    font-weight: bold;
    color: #667eea;
}


.hora-partido {
    background: #667eea;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
}

.puntos-equipo {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.jugador {
    margin: 8px 0;
    font-size: 30px;
}

.jugador-mercado {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.btn-ver-mas {
    display: inline-block;
    background: #ffd65a;
    color: #033860;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-ver-mas:hover {
    background: #f0c443;
}

.body-inicio {
    background-color: #0b0f1a;
    min-height: 100vh;
}


/* ------------------------ */

.resumen {
    background-color: #141a2e;
    border-radius: 12px;
    padding: 2px;
    box-shadow: 0 0 5px #09f;
    margin-bottom: 30px;
}

.resumen h2 {
    font-size: 35px;
    position: relative;
    top: -20px;
    left: 10px;
    margin-bottom: -20px;
    color: white;
}

.div-resumen {
    display: flex;
    justify-content: center;
    gap: 400px;
}

.div-resumen p {
    font-size: 20px;
    color: white;
}

.div-resumen2 {
    display: flex;
    justify-content: center;
    gap: 420px;
    margin-bottom: -50px;
}

.div-resumen2 p {
    font-size: 40px;
    color: #f0c443;
}

.resumen-jornada {
    background-color: #141a2e;
    border-radius: 12px;
    padding: 2px;
    box-shadow: 0 0 5px #09f;
    text-align: center;
    margin-bottom: 30px;
}

.resumen-jornada h2 {
    font-size: 35px;
    color: white;
}

.abierto-cerrado-jornada {
    font-size: 30px;
    color: red;
    font-weight: bold;
}

.tiempo-jornada {
    font-size: 30px;
    color: white;
}

.acciones-rapidas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.action-card {
    background-color: #141a2e;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 5px #09f;
    transition: transform 0.2s, box-shadow 0.2s;
}

.action-card span {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.action-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px #09f;
}
